.header {
    height: 95vh;
    background-image: linear-gradient(
        to bottom right,
        rgba($color-primary-light, 0.5),
        rgba($color-primary-dark, 0.5)),
    url(../img/header2.jpg);
    background-size: cover;
    background-position: bottom;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;
    }
    
    &__text-box {
        position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -50%);
      width: 65%;
      backface-visibility: hidden;
        text-align: center;
    }
}