.navigation {
    display: inline-block;
    float: right;
    margin: 1rem;

    &__list { 
        list-style: none;
        @include clearfix;
    }

    &__item {
        display: inline-block;
        margin: 2rem 1.5rem;
        padding: .5rem 3rem;
        border: 1px solid $color-white;

        // &:hover {
        //     background-color: $color-white;
        // }

        &--link,
       &:link,
       &:visited {
        display: inline-block;
        font-size: 1.8rem;
        font-weight: 400;
        color: $color-white;
        text-decoration: none;

        &:hover {
            
             background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
            -webkit-background-clip: text;
             color: transparent;
        }
    
    }
}
}