nav {
    width: 100%;
    background: #001f44;

}

ul {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

ul li {
    cursor: pointer;
    list-style: none;
    font-size: 1.6rem;
    font-weight: 700;
    color: white;
    display: inline-block;
    float: right;
    padding: 1.5rem;
    // margin-right: 2rem;
}

ul li:hover {
    //  background: #1b2e79;
     background: #001f44;
     color: white
}

ul li a {
    text-decoration: none;
}

.toggle {
    width: 100%;
    padding: 1rem 2rem;
    // background: #001f44;
    text-align: right;
    box-sizing: border-box;
    color: white;
    font-size: 2rem;
    display: none;
}

@include respond(tab-port) {  
    .toggle{
        display: block;
    }

    ul {
        width: 100%;
        display: none;
        background: #001f44;

    }

    ul li {
        display: block;
        text-align: center;
        float: none;
    }
    .active {
        display: block;
    }
}











// nav {
//     width: 100%;
//     background:#313D6F;
// }
//    ul {
//       margin: 0 auto;
//       float: right;
     

//  li {
//     list-style: none;
//     font-size: 1.8rem;
//     font-weight: 700;
//     margin-top: 2rem;
//     margin-right: 2rem;
//     display: inline-block;
//     padding: .3rem 2rem;
//     border: 1px solid $color-white;

//     a {
//         color: $color-white;
//   }
//  }
// }

// ul li:hover {
//     background: $color-white;
//     color: $color-primary-light;
// }

// .toggle {
//     display: none;
//     width: 100%;
//     padding: 1rem 2rem;
//     text-align: right;
//     color: $color-white;
//     font-size: 3rem;
// }

// @include respond(tab-port) {  
//     .toggle{
//         display: block;
//     }

//     nav ul {
//         width: 100%;
//         background-color:#313D6F;
//         text-align: center;
    
//      li {
//         display: block;
//         position: absolute;
//         top: 5%;
//         right: 40%;

//      }
//     }
// }
