// $color-primary:#0854b8;
$color-primary:#074392;
$color-primary-light:rgb(38, 181, 238);
// $color-primary-dark:rgb(29, 4, 165);
$color-primary-dark:rgb(20, 140, 209);

$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#eee;

$color-grey-dark:#777;
$color-grey-dark-2:#999;
$color-grey-dark-3:#333;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-white:#fff;
$color-black:#000;

//FONT
$default-font-size:1.6rem;


//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

