.btn {
    &,
    &:link,
    &:visited {
    
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        border-radius: 10rem;
        font-size: $default-font-size;
        display: inline-block;
        position: relative;
        transition: all .2s;
        border: none;
        cursor: pointer;

        @include respond('tab-port') {
            padding: 1rem 3rem;
        }
    }

&:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black,.2);

    &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }
}

&:active,
&:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba($color-black,.2);
}

&--white {
    background-color: $color-white;
    color: $color-grey-dark;

    &::after {
        background-color: $color-white;
    }
}

&--blue{
   background-color:$color-primary-light;
   color: $color-white;
}

&-- {
    padding: 75;
    width: 70%;
}

&::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

&--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}
}


